
extends layout

block content
	include modals/nav

	div#map
	div#info.info

	if locals.udata
		- var i = 0;
		script.
			var udata = !{udata};
	
	if locals.admin
		script.
			var admin = '#{admin}';

	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='js/views/map.js')
	include modals/alert

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/vendor/bootstrap.min.js')
	if locals.blScripts
			each script in blScripts
				script(type='text/javascript', src= script)
	